.logo{
    width: 75px;
}

.header{
    background-color: slategrey;
    padding: 8px 0;
}

* {
    margin: 0;
}

.menu{
    display: inline;
}

.menu__link{
    margin-right: 8px;
    color: aquamarine;
    text-decoration: none;
}

.greeting{
    background-color: deeppink;
    font-size: 43px;
    padding: 80px 0;
}
.greeting_1{
    height: 100px;
    width: 100px;
    right: 0px;
    top: 0px;
    position: absolute;

}