.logo{
    width: 75px;
}

.header{
    background-color: slategrey;
    padding: 8px 0;
    position: sticky;
    top: 0px;
    z-index: 1;
}

* {
    margin: 0;
}

.menu{
    display: inline;
}

.menu__link{
    margin-right: 8px;
    color: aquamarine;
    text-decoration: none;
}

.greeting{
    background-color: deeppink;
    font-size: 43px;
    padding: 80px 0;
    position: relative;
}
.planetka{
    height: 100px;
    width: 100px;
    right: 0px;
    top: 0px;
    position: absolute;

}

body{
    min-height: 300vh;

}
.sun{
    width: 150px;
    left: 0px;
    bottom: 0px;
    position: absolute;
}

.description{
    background-color: rgb(67, 150, 205);
    padding:80px 0px ;
    position: relative;
}

.header_2{
    margin-top: 50px;
    background-color: rgb(105, 166, 226);
    background-image: url(img/sky.jpg);
    padding: 8px 0;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.greeting_2{
    background-color: rgba(182, 184, 224, 0.987);
    background-image: url(img/молнии.webp);
    font-size: 43px;
    color: antiquewhite;
    padding: 80px 0;
    position: relative;
}

.description_2{
    background-image: url(img/молнии.webp);
    color: antiquewhite;
    padding:100px 0px ;
    position: relative;

}